---
http_interactions:
- request:
    method: get
    uri: http://node.locomote.com/code-task/airports?q=de
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "airportCode": "BVB",
            "airportName": "A B Cantanhede Intl Arpt",
            "cityCode": "BVB",
            "cityName": "Boa Vista",
            "countryCode": "BR",
            "countryName": "Brazil",
            "latitude": 2.846311,
            "longitude": -60.690069,
            "stateCode": "",
            "timeZone": "America/Boa_Vista"
          },
          {
            "airportCode": "ABR",
            "airportName": "Aberdeen Regional Arpt",
            "cityCode": "ABR",
            "cityName": "Aberdeen",
            "countryCode": "US",
            "countryName": "United States",
            "latitude": 45.4491,
            "longitude": -98.4218,
            "stateCode": "SD",
            "timeZone": "America/Chicago"
          },
          {
            "airportCode": "GIG",
            "airportNam[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/airports?q=ed
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "airportCode": "BVB",
            "airportName": "A B Cantanhede Intl Arpt",
            "cityCode": "BVB",
            "cityName": "[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/airlines
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "code": "SU",
            "name": "Aeroflot"
          },
          {
            "code": "MU",
            "name": "China Eastern"
          },
          {
            "code": "EK",
            "name": "Emirates"
          },
          {
            "code": "KE",
            "name": "Korean Air lines"
          },
          {
            "code": "QF",
            "name": "Qantas"
          },
          {
            "code": "SQ",
            "name": "Singapore Airlines"
          }
        ]
  recorded_at: Mon, 21 Aug 2017 22:00:03 GMT
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/SQ?date=2017-08-22&from=ADL&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "U1E1NjQgMTUwMzMyNTgwMDAwMA==",
            "airline": {
              "code": "SQ",
              "name": "Singapore Airlines"
            },
            "flightNum": 564,
            "start": {
              "dateTime": "2017-08-22T21:55:00+09:30",
              "airportCode": "ADL",
              "airportName": "Adelaide Arpt",
              "cityCode": "ADL",
              "cityName": "Adelaide",
              "countryCode": "AU",
              "countryName": "Australia",
              "latitude": -34.945,
              "longitude": 138.530556,
              "stateCode": "SA",
              "timeZone": "Australia/Adelaide"
            },
            "finish": {
              "dateTime": "2017-08-22T22:34:00-03:00",
              "airportCode": "BBA",
              "airportName": "Balmaceda Arpt",
              "cityCode": "BBA",
              "cityName": "Balmaceda",
              "countryCode": "CL",
              "countryName": "Chile",
              "latitude": -45.916058,
              "longitude": -71.689475,
              "stateCode": "",
              "timeZone": "America/Santiago"
            },
            "plane": {
              "code": "74H",
              "shortName": "Boeing 747-8",
              "fullName": "Boeing 747-8",
              "manufacturer": "Boeing",
              "model": "747-8 Intercontinental"
            },
            "distance": 10526,
            "durationMin": 789,
            "price": 7152.44
          },
          {
            "key": "U1E3MjYgMTUwMzMyNTgwMDAwMA==",
            "airline": {
              "code": "SQ",
              "name": "Singapore Airlines"
            },
            "flightNum": 726,
            "start": {
              "dateTime": "2017-08-22T04:10:00+09:30",
              "airportCode": "ADL",
              "airportName": "Adelaide Arpt",
              "cityCode": "ADL",
              "cityName": "Adelaide",
              "countryCode": "AU",
        [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/QF?date=2017-08-22&from=ADL&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "UUY5MTIgMTUwMzMyNTgwMDAwMA==",
            "airline": {
              "code": "QF",
      [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/EK?date=2017-08-22&from=ADL&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "RUs3MDcgMTUwMzMyNTgwMDAwMA==",
            "airline": {
              "code": "EK",
      [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/KE?date=2017-08-22&from=ADL&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "S0UxMTEgMTUwMzMyNTgwMDAwMA==",
            "airline": {
              "code": "KE",
      [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/MU?date=2017-08-22&from=ADL&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "TVUxMjQgMTUwMzMyNTgwMDAwMA==",
            "airline": {
              "code": "MU",
      [...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/SU?date=2017-08-22&from=ADL&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "key": "U1U2MTQgMTUwMzMyNTgwMDAwMA==",
            "airline": {
              "code": "SU",
      [...]
[...]
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/SU?date=2017-08-22&from=&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: Internal Server Error
  recorded_at: Mon, 21 Aug 2017 22:00:03 GMT
- request:
    method: get
    uri: http://node.locomote.com/code-task/flight_search/MU?date=2017-08-22&from=&to=BBA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: Internal Server Error
  recorded_at: Mon, 21 Aug 2017 22:00:03 GMT
- request:
    method: get
    uri: http://node.locomote.com/code-task/airlines
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "code": "SU",
            "name": "Aeroflot"
          },
          {
            "code": "MU",
            "name": "China Eastern"
          },
          {
            "code": "EK",
            "name": "Emirates"
          },
          {
            "code": "KE",
            "name": "Korean Air lines"
          },
          {
            "code": "QF",
            "name": "Qantas"
          },
          {
            "code": "SQ",
            "name": "Singapore Airlines"
          }
        ]
  recorded_at: Mon, 21 Aug 2017 22:00:02 GMT
recorded_with: VCR 3.0.3
