<div class="form">
  From location: <input name="from" class="city from" /><input type="hidden" />
  To location: <input name="to" class="city to" /><input type="hidden" />
  Travel date: <input name="date" class="date" />
  <input type="button" value="Search" class="search">
  <div class="results"></div>
</div>

<div class="form">
  From location: <input name="from" class="city from" /><input type="hidden" />
  To location: <input name="to" class="city to" /><input type="hidden" />
  Travel date: <input name="date" class="date" />
  <input type="button" value="Search" class="search">
  <div class="results"></div>
</div>
